@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background-image: url("./assets/more/15.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  /* background-image: url("./assets/more/6.jpeg"); */
  background-image: url("./assets/more/3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.bg-footer {
  background-image: url("./assets/more/13.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.copyright {
  background-image: url("./assets/more/24.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
